.blue {
    color: #29b6f6;
}
.green {
    color: #9ccc65;
}
.purple {
    color: #ba68c8;
}
.cyan {
    color: #4dd0e1;
}
.red {
    color: #ef5350;
}
.card {
    height: 25vh;
    width: 100%;
    position: relative;
}
.card__side {
    height: 25vh;
    width: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card__side--front {
    background-color: #1c1c1c;
}
.card__side--back {
    transform: rotateY(180deg);
    background-color: #1c1c1c;
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0deg);
}
.card__cont {
    height: 25vh;
    color: white;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}
.card__cta p {
    margin-left: 1rem;
}
.card__cta p > .space {
    margin-left: 2rem;
}
.see-more:hover{
    color: white;
    text-decoration: none;
}
.see-more{
    color: #A92142;
    text-decoration: none;
}
.kecilin{
    font-size: 12px;;
}
.popup-btn-wrapper{
    z-index: 999;
}
.dismiss-popup-btn {
    z-index: 999;
	position: fixed;
	top: 50%;
	right: 20px;
	width: 30px;
	height: 30px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
	border: 1px solid #000;
	border-radius: 50%;
	background-color: white;
}
#loading{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: black url('../assets/loading.gif') no-repeat center center;
}
@media (max-width: 800px){
    .card {
        height: 25vh;
        /* width: 72vw; */
        margin-bottom: 1vh;
    }
    .card__side{
        height: 25vh;
        /* width: 72vw; */
    }
}