html{
    scroll-behavior: smooth;
}
#content1 p{
    font-family: tahoma
}
 body{
     background: url('main.jpg') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: Arial;
 }
 #content1 p{
     color: white;
 }
 #content1 h6{
    color: white;
}
 .jumbotron h1{
     background-color: black;
     color: white
 }
 .jumbotron h2{
    margin-bottom: 0%;
}
#content3 a :hover{
    width: 20%;
    height: 20%;
}
.jumbotron{
    background: none;
    border: 5px solid white;
    border-radius: 1em;
}
#content1{
    border: 5px solid white;
    border-radius: 1em;
}